# Particle Life Configuration

num_particles = 50000
num_colors = 32
r_max = 100.0
canvas_size_factor = 40.0
# bigger -> evolve faster
dt = 0.3
# smaller -> decelerate faster
damping = 0.25
speed_limit = 10.0
# random thermal motion intensity (0 = off)
thermal_motion_intensity = 10.0
