# Particle Life Configuration

num_particles = 50000
num_colors = 32
r_max = 100.0
canvas_size_factor = 20.0
# bigger -> evolve faster
dt = 0.3
# smaller -> decelerate faster
damping = 0.4
speed_limit = 8.0
